/* Styling of the Page */

ul {
    list-style-type: none;
    padding: 0;
}

p {
    padding-right: 5em;
    padding-left: 5em;
}

/* Add the Following: */

app-skills {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}
